*{
	background-color:#f5f5f5;
	margin:20px 20px 0px 10px;
}
.Testnomial-box{
	border:1px solid black;
	width:100%;
	background-color:white;
}
.Testnomial-box p{
	font-weight:700;
	
}
.author{
	text-align:right;
	font-style:italic;
	font-weight:200;
}
