/* Global styles */
* {
    background-color: #f5f5f5;
    margin: 20px 10px;
}

/* Container styles */
.main-container {
    background-color: #f5f5f5;
    padding:20px;
}

/* Testimonial box styles */
.Testinomial {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    background-color: white;
}

/* Ensure all elements inside Testinomial have a white background */
.Testinomial * {
    background-color: white;
}

/* Text and author styling */
.text p, .author p {
    background-color: white;
}

.author p {
    font-style: italic;
    text-align: right;
}
